:root{ font-size: 14px;}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #2fa0e2;
	color: #eee;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.header a:first-of-type {
	margin-left: 5%;
}

.header a:first-of-type:hover {
	text-shadow: 1px 1px 1px #000;
}

.header_title {
	font: 700 3rem 'Quicksand', sans-serif;
}

.header_nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 5px;
	margin-right: 10%;
}

.header_nav li {
	width: 120px;
	font: 300 1.5rem 'Quicksand', sans-serif;
	margin-right: 15px;
	line-height: 1;
}

.header_nav li:hover {
	font: 300 1.9rem 'Bad Script', cursive;
	line-height: 1;
	letter-spacing: 2px;
}

.hero {
	width: 100%;
	position: relative;
}

.hero img {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 20px;
	z-index: 0;
	opacity: .8;
}

.hero_title {
	z-index: 10;
	position: absolute;
	top: 10%;
	left: 20%;
	width: 60%;
	font: 800 3rem 'Quicksand', cursive;
}

.hero_title span:first-of-type {
	font: 700 7rem 'Bad Script';
	text-shadow: 1px 2px 1px #000;
	margin-right: 40px;
	color: #2fa0e2;
}
.hero_title span:last-of-type {
	font: 300 5rem 'Quicksand';
	text-shadow: 1px 2px 1px #fff;
	color: #000;
}

.hero a:first-of-type {
	position: absolute;
	top: 70%;
	left: 25%;
}

.hero a:last-of-type {
	position: absolute;
	top: 70%;
	left: 50%;
}

.hero a {
	padding: 40px 110px;
	background-color: #000;
	color: #2fa0e2;
	border-radius: 10px;
	font: 300 2rem 'Quicksand';
	border: 2px solid #2fa0e2;
	box-shadow: 2px 3px 1px #000;
}

.hero a:hover {
	border: 2px solid #000;
	color: #000;
	background-color: #2fa0e2;
	transition: all .2s linear;

}

.current_user {
	position: absolute;
	right: 0;
	padding: 10px;
	font: 300 1.2rem 'Quicksand';
	color: #000;
	z-index: 2;
}

.current_user_links {
	display: flex;
	justify-content: space-evenly;
}

.current_user p {
	font: 300 1.3rem 'Quicksand';
	margin-bottom: 10px;
}

.current_user a {
	background-color: #000;
	border-radius: 10px;
	color: #2fa0e2;
	border: 1px solid #2fa0e2;
	padding: 3px 5px;
}

@media screen and (min-width: 600px) {
	/* Above styles not responsive - will adjust for smaller screens */
}

.landing-layout {
	display: flex;
	justify-content: space-evenly;
	margin: 100px 20px;
}

.index-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #000;
	text-shadow: 1px 1px 1px #fff;
}

h1.index-title {
	font: 700 3rem 'Bad Script';
	letter-spacing: 3px;
	margin-left: 50px;
}

.index-header-p {
	font: 300 2rem 'Quicksand';
	margin-left: 50px;
}

.index-logo {
	height: 400px;
	width: 450px;
}

.index-nav {
	display: flex;
	justify-content: center;
}

.index-nav-links {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin: 20px 50px;
}

.index-nav-links li {
	font: 300 2.3rem 'Quicksand', sans-serif;
	line-height: 1;
}

.index-nav-links li:hover {
	font-weight: bold;
	color: #000;
	transition: all .2s ease-out;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

form input {
	padding: 5px 10px;
	font: 300 1.3rem 'Quicksand';
	border-radius: 10px;
	margin: 5px;
}
