<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to 99 Cats <%= @user.username %></h1>
    <p>We are thrilled you joined our community!</p>
    <p>Please enjoy our site</p>
</body>
</html>